.caja1{
    width: 200px;
    height: 250px;
    border: 2px solid orange;
    margin-bottom: 0px;
    padding: 15px;
}

.caja2{
    width: 200px;
    height: 250px;
    border: 2px solid orange;
    margin-bottom: 0px;
    padding: 15px;
}

.caja3{
    width: 200px;
    height: 250px;
    border: 2px solid orange;
    margin-bottom: 0px;
    padding: 15px;
}
